.terminal-container {
  background: url(/assets/images/ghost_bg.jpg) no-repeat top;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.terminal-container .terminal {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .terminal-container .terminal {
    width: calc(100% - 20px);
  }
}

.terminal-container .terminal .header {
  padding: 5px 10px;
  background: #fff;
  display: flex;
  gap: 2px;
  align-items: center;
}

.terminal-container .terminal .body {
  flex: 1;
}

.terminal-container .terminal .footer {
  background: #fff;
  padding: 5px;
}

.terminal-container .terminal .header .navigation {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

.terminal-container .terminal .header .title {
  font-size: 1.3rem;
}

.terminal-container .terminal .message-input {
  display: flex;
  gap: 5px;
}

.terminal-container .terminal .message-input .chat-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #00000050;
  padding: 5px 10px;
  font-size: 1.3rem;
  background: transparent;
}

.terminal-container .terminal .message-input .chat-send {
  white-space: nowrap;
  border: none;
  background: transparent;
}

.terminal-container .terminal .message-input .chat-send span {
  opacity: 0.8;
}

.terminal-container .terminal .message-input .chat-input:active,
.terminal-container .terminal .message-input .chat-input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #00000080;
}

.terminal-container .terminal .body .chat-unit {
  display: flex;
  margin: 10px 0;
}

.terminal-container .terminal .body .chat-unit .chat-send {
  margin-left: auto;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 0px !important;
  background: white !important;
}

.terminal-container .terminal .body .chat-unit .chat {
  display: flex;
  align-items: center;
  gap: 5px;
  background: wheat;
  padding: 5px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  transition: 0.2s;
  max-width: 70%;
}

.terminal-container .terminal .body .chat-unit .chat .user-logo {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
}

.terminal-container .terminal .body .chat-unit .chat .user-logo img {
  width: 100%;
}

.terminal-container .terminal .body .chat-unit .chat .user-time {
  color: #00000080;
  font-size: 0rem;
  transition: 0.2s;
  overflow: hidden;
  white-space: nowrap;
}

.terminal-container .terminal .body .chat-unit .chat:hover .user-time {
  font-size: 0.8rem;
}

.terminal-container .terminal .body .chat-unit .chat .user-message {
  min-width: 40px;
}
